<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
 
     <extension
         point="org.eclipse.ui.editors">
      <editor
            class="nu.psnet.quickimage.editors.QuickImageEditor"
            icon="icons/picture.png"
            default="true"
            name="QuickImage Editor"
            id="nu.psnet.quickimage.editors.QuickImageEditor"
            extensions="gif,jpg,jpeg,png,ico,bmp,afdesign">
      </editor>


   </extension>
     <extension
           point="org.eclipse.ui.decorators">
        <decorator
              class="nu.psnet.quickimage.decorator.ImageSourceFileDecorator"
              id="nu.psnet.quickimage.decorator.ImageSourceFileDecorator"
              label="Image source files"
              lightweight="true"
              state="true">
           <enablement>
              <objectClass
                    name="org.eclipse.core.resources.IFile">
              </objectClass>
           </enablement>
           <description>
              Display a text decoration for image source files
           </description>
        </decorator>
     </extension>

</plugin>
